<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860609761974-bb3k4hutk75sjbagsmsqa5uokmqvv9ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860609761974-bb3k4hutk75sjbagsmsqa5uokmqvv9ls</string>
	<key>API_KEY</key>
	<string>AIzaSyCx659EE6jtW0av1Ev8XY0DYgS67_zNv3U</string>
	<key>GCM_SENDER_ID</key>
	<string>860609761974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kauekaj.FourBank</string>
	<key>PROJECT_ID</key>
	<string>fourbank-526aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fourbank-526aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860609761974:ios:a30ebd1f830f84bea84c17</string>
</dict>
</plist>